<!doctype html>
<html lang="zh-TW">
  <%- include("components/head") %>

  <body class="d-flex flex-column min-vh-100">
    <%- include("components/nav") %>

    <div class="container row flex-column align-content-start justify-content-start flex-grow-1 mx-auto my-4 gap-4">
      <% for( const card of components ) { %>
        <%- include(`components/${card}`) %>
      <% } %>
    </div>

    <%- include("components/modal") %>
  </body>
</html>
