<% if ((permission & 4) === 4) { %>
<div class="card shadow col-lg-12 p-0">
  <label class="card-header h4" for="input-file">上傳</label>

  <form class="card-body row row-gap-3 p-4" id="form-upload-venues">
    <div class="col-md-8">
      <input
        class="form-control"
        id="input-file"
        type="file"
        accept="application/pdf"
        title="upload"
        required
        oninput="setCustomValidity('')"
        oninvalid="setCustomValidity('請選擇檔案')"
      />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-danger" type="submit">上傳</button>
    </div>
  </form>
</div>
<% } %>

<div class="card shadow col-lg-12 p-0 flex-grow-1">
  <div class="card-header position-relative">
    <label class="h4 my-0" for="input-search">預覽</label>
    <div class="position-absolute top-50 end-0 translate-middle-y">
      <a
        class="d-flex mx-1"
        style="height: 2.5rem"
        href="/venues.pdf"
        target="_blank"
      >
        <img src="/images/newtab.svg" title="新標籤" />
      </a>
    </div>
  </div>

  <div class="d-flex flex-column flex-grow-1">
    <embed
      src="/venues.pdf"
      type="application/pdf"
      class="flex-grow-1"
      width="100%"
    />
  </div>
</div>
