<% if ((permission & 2) === 2) { %>
<div class="card shadow col-lg-12 p-0">
  <label class="card-header h4" for="input-file">上傳</label>

  <form class="card-body row row-gap-3 p-4" id="form-upload-activity-center">
    <div class="col-md-8">
      <input
        class="form-control"
        id="input-file"
        type="file"
        accept="image/apng,image/avif,image/gif,image/jpeg,image/png,image/svg+xml,image/webp"
        title="upload"
        required
        oninput="setCustomValidity('')"
        oninvalid="setCustomValidity('請選擇檔案')"
      />
    </div>

    <div class="col-md-4 d-grid">
      <button class="btn btn-danger" type="submit">上傳</button>
    </div>
  </form>
</div>
<% } %>

<div class="card shadow col-lg-12 p-0">
  <label class="card-header h4" for="input-search">預覽</label>

  <div class="card-body d-flex justify-content-center my-0 p-4">
    <img
      src="/files/activity-center.webp"
      alt="預覽圖片"
      style="max-width: 100%; max-height: 100%"
    />
  </div>
</div>
