<div class="modal fade" id="modal-task" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable">
    <form class="modal-content" id="form-task">
      <div class="modal-header">
        <h5 class="modal-title">編輯</h5>
      </div>

      <div class="modal-body">
        <div class="row row-gap-3">
          <input id="input-id" type="text" placeholder="id" disabled hidden />

          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-date">日期</label>
            <input class="form-control" id="input-date" type="date" oninvalid="setCustomValidity('請輸入有效日期')"/>
          </div>

          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-title">工項</label>
            <input class="form-control" id="input-title" type="text" placeholder="請輸入工項"/>
          </div>

          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-content">內容</label>
            <textarea class="form-control" id="input-content" placeholder="請輸入內容" rows="3"></textarea>
          </div>

          <% if ((permission & 1) === 1) { %>
          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-responsible">負責人</label>
            <select class="form-select" id="input-responsible"></select>
          </div>
          <% } %>

          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-internal-status">校內對應</label>
            <textarea class="form-control" id="input-internal-status" placeholder="請輸入校內對應" rows="3"></textarea>
          </div>

          <div class="d-flex">
            <label class="col-2 m-auto text-center" for="input-external-status">大會對應</label>
            <textarea class="form-control" id="input-external-status" placeholder="請輸入大會對應" rows="3"></textarea>
          </div>
        </div>
      </div>

      <div class="modal-footer justify-content-between">
        <div class="flex-grow-1">
          <% if ((permission & 1) === 1) { %>
          <button class="btn btn-danger" id="button-task-delete" type="button" data-bs-dismiss="modal">刪除</button>
          <% } %>
        </div>

        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">取消</button>
        <button class="btn btn-warning" type="submit">確定</button>
      </div>
    </form>
  </div>
</div>
