<div class="container d-flex flex-column">
  <nav class="navbar row-gap-2 bg-body-tertiary nav-breakpoint">
    <div class="navbar row-gap-2 nav-breakpoint">
      <button
        class="btn btn-outline-primary mx-1"
        type="button"
        onclick="window.location.replace(`/${year}/task`)"
      >
        任務分配
      </button>
      <button
        class="btn btn-outline-primary mx-1"
        type="button"
        onclick="window.location.replace(`/${year}/keys`)"
      >
        鑰匙分配
      </button>
      <button
        class="btn btn-outline-primary mx-1"
        type="button"
        onclick="window.location.replace(`/${year}/venue`)"
      >
        場地分配
      </button>
      <button
        class="btn btn-outline-primary mx-1"
        type="button"
        onclick="window.location.replace(`/${year}/activity-center`)"
      >
        活動中心 12 個門
      </button>
      <button
        class="btn btn-outline-primary mx-1"
        type="button"
        onclick="window.location.replace(`/${year}/entrance`)"
      >
        各館大門出口圖
      </button>
    </div>

    <button class="btn btn-danger mx-1" id="button-logout" type="button">
      登出
    </button>
  </nav>
</div>

<style>
  @media (max-width: 768px) {
    .nav-breakpoint {
      flex-direction: column;
      align-items: stretch;
    }
  }
</style>
